<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<title>图片上传</title>
	<link href="main.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="headerview" style="height: 44px;">
	  <div class="cm-header" id="ui-view-9">
	      <span class=" cm-header-icon fl  js_back">
	          <i class="icon-back"></i>
	      </span>
	      <span class=" cm-header-btn fr  js_commit">提交 </span>
	      <h1 class="cm-page-title js_title">我要提问</h1>
       </div>
     </div>
	<div class="main">
	<div class="answer-view">
		<div class="answer">
			<textarea name="content" id="content" maxlength="1000" class="answer_content" placeholder="请输入你的回答"></textarea>
			<div class="hint" style="display: none;"></div>
		</div>
		<div class="upload_photo">
                <form class="upload_form" id="uploadForm" enctype="multipart/form-data" method="post">
                    <div class="comment_container">
                        <div class="upload_photos">
                            <ul id="uploadul">
                                <li class="btn-upload-photo">
                                    <div class="camera <% if (isAndroid) { %> js_upload <% } %>">
                                        <input class="js_img_upload photo_tips nofastclick" accept="image/*" type="file" style="opacity:0" multiple="multiple" />
                                    </div>
                                </li>
                                <li class="img_temp"><img src="http://t11.baidu.com/it/u=4117368340,3125746206&fm=76" class="upload_img" data-id="68962135" style="width: 50px; height: 50px;"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <input type="button" value="点击我" id="btnTest">
            <span id="spanTest">这是span的点击事件哦</span>
	</div>
	 <section class="appue_scale">
        <div class="js_close this_return"></div>
        <div class="dump"></div>
        <div class="this_title"></div>
        <ul class="this_img"></ul>
        <div class="this_intro"></div>
    </section>          
	</div>
	<script src="script/require.js"></script>
	<script src="require_config.js"></script>
	<script type="text/javascript">
        require(['backbone','uploadImg','index','F'],function(_,upload,index,fastclick){
            fastclick.attach(document.body);
        	var app=new index();
        })
	</script>
    
</body>
</html>